@model ManageCoffeeShop.Models.SelectMenu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SelectMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddToCart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddToCart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
